<div class="container-fluid">
  <h1>Battle Forged</h1>

  <div class="container-fluid">
    <div class="row">
      <div class="form-group col-sm-2">
        <label for="selector1">Selector 1</label>
        <select class="form-control" id="selector1">
          <option value="" disabled>-- Select --</option>
        </select>
      </div>
      <div class="form-group col-sm-2">
        <label for="selector2">Selector 2</label>
        <select class="form-control" id="selector2">
          <option value="" disabled>-- Select --</option>
        </select>
      </div>
    </div>

    <h2>Detachment name</h2>

    <div class="row">
      <div class="col-md-4">
        <div class="container bg-light rounded shadow">
          <h3>Detachment Details</h3>
          <p>This is some information about the selected detachment.</p>
        </div>
      </div>
      <div class="col-md-8">
        <div class="container bg-light rounded shadow">
          <h3>Detachment Slots</h3>
          <p>Table showing the slots available in the detachment</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
          <div class="container bg-light rounded shadow">
            <h3>Unit options</h3>
            <p>This is some information about the selected detachment.</p>
        </div>
      </div>
      <div class="col-md-8">
          <div class="container bg-light rounded shadow">
            <h3>Selected Unit</h3>
            <p>This is some information about the selected unit.</p>
          </div>
      </div>
    </div>
  </div>
</div>