<div class="container-fluid">
  <h1>Battle Forged</h1>

  <div class="container-fluid">
    <div class="row">
      <div class="form-group col-md">
        <label for="faction">Faction</label>
        <select class="form-control" id="faction" [(ngModel)]=selectedFaction (ngModelChange)="factionSelected()">
          <option value="undefined" disabled>-- Select --</option>
          <option *ngFor="let faction of factions" [ngValue]="faction">{{ faction.name }}</option>
        </select>
      </div>
      <div class="form-group col-md">
        <label for="detachment">Detachment</label>
        <select class="form-control" id="detachment" [(ngModel)]="selectedDetachment" (ngModelChange)="detachmentSelected()">
          <option value="undefined" disabled>-- Select --</option>
          <option *ngFor="let detachment of detachments" [ngValue]="detachment">{{ detachment.name }}</option>
        </select>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-lg-4">
        <div class="card bg-light shadow">
          <div class="card-body">
            <h3>Detachment Details</h3>
            <dl *ngIf="selectedDetachment">
              <dt>Command Cost:</dt>
              <dd class="small">{{selectedDetachment.commandCost}}</dd>
              <dt>Command Benefit:</dt>
              <dd class="small">{{selectedDetachment.commandBenefits}}</dd>
              <dt>Restrictions:</dt>
              <dd class="small">{{selectedDetachment.restrictions}}</dd>
              <dt>Dedicated Transports:</dt>
              <dd class="small">{{selectedDetachment.dedicatedTransports}}</dd>
            </dl>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card bg-light shadow">
          <div class="card-body">
            <h3>Detachment Slots</h3>
            <table class="table table-striped" *ngIf="detachment && slots.length > 0">
              <tr>
                <th></th>
                <th *ngFor="let slot of slots">{{ slot }}</th>
              </tr>
            <tr>
                <th>Needed</th>
                <td *ngFor="let slot of slots">{{detachment.slots[slot].min}}-{{detachment.slots[slot].max}}</td>
              </tr>
              <tr>
                <th>Selected</th>
                <td *ngFor="let slot of slots">{{ slotsFilled[slot] }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div class="card bg-light shadow">
          <div class="card-body">
            <h3>Add Unit</h3>
            <div class="form-group">
              <!-- <label for="role">Role</label> -->
              <select class="form-control" id="role" [(ngModel)]="selectedRole" (ngModelChange)="roleSelected()" [disabled]='selectedFaction == undefined'>
                <option [ngValue]="{name: 'Any', id: 0}">-- Any Role --</option>
                <option *ngFor="let role of roles" [ngValue]="role">{{ role.name }}</option>
              </select>
            </div>
            <div class="form-group">
              <!-- <label for="unit">Unit</label> -->
              <select class="form-control" id="unit" [(ngModel)]="selectedUnit" (ngModelChange)="unitSelected()" [disabled]='selectedFaction == undefined'>
                <option value="undefined" disabled>-- Unit --</option>
                <option *ngFor="let unit of units" [ngValue]="unit">{{ unit.name }}</option>
              </select>
            </div>
            <div class="form-group">
              <!-- <label for="subfaction">Subfaction</label> -->
              <select class="form-control" id="unit" [(ngModel)]="selectedSubfaction" [disabled]='selectedFaction == undefined'>
                <option value="undefined" disabled>-- Subfaction --</option>
                <option *ngFor="let subfaction of subfactions" [ngValue]="subfaction">{{ subfaction.name }}</option>
              </select>
            </div>
            <hr *ngIf="selectedUnit != undefined" />
            <p *ngIf="selectedUnit != undefined">Display unit options for user to select.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card bg-light shadow">
            <app-unit-card
              [unit]="selectedUnit"
              [models]="models"
              [hasOptions]="hasOptions"
              [weapons]="weapons"
              [otherWargear]="otherWargear"></app-unit-card>
        </div>
      </div>
    </div>

    <hr />

    <div class="row">
      <h1 class="col-md-10">Detachment Selections</h1>
      <div class="col-md-2">
        <a class="btn btn-success">Save Detachment</a>
      </div>
    </div>

    <table class="table table-striped shadow">
      <thead>
        <tr>
          <th>Unit</th>
          <th>Details</th>
          <th>Wargear</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody>
        <td>Fake Unit</td>
        <td>Some Models</td>
        <td>Some Wargear</td>
        <td><button type="button" class="form-control btn btn-danger"><span class="fas fa-times"></span></button></td>
      </tbody>
    </table>
  </div>
</div>