<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="#">{{ title }}</a>

  <button type=button class="navbar-toggler" (click)="isMenuCollapsed = !isMenuCollapsed">
    <span class="fas fa-bars"></span>
  </button>

  <div class="collapse navbar-collapse" [ngbCollapse]="isMenuCollapsed">
    <ul class="navbar-nav">
      <li><a class="nav-link" routerLink="/forge" routerLinkActive="active">Forge</a></li>
      <li><a class="nav-link" routerLink="/unit-list" routerLinkActive="active">Unit List</a></li>
      <li><a class="nav-link" routerLink="/my-army" routerLinkActive="active">My Army</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
<app-messages></app-messages>