<div>
  <select id="faction-selector" [(ngModel)]="factionSelector" (change)="getRoles()">
    <option>-- Select Faction --</option>
    <option *ngFor="let faction of factions"> {{ faction }} </option>
  </select>
  <select id="role-selector" [(ngModel)]="roleSelector" (change)="getUnits()" [disabled]="roleSelectorDisabled">
    <option>-- Select Role --</option>
    <option *ngFor="let role of roles"> {{ role }} </option>
  </select>
  <select id="unit-selector" [(ngModel)]="unitSelector" (change)="getSubfactions()" [disabled]="unitSelectorDisabled">
    <option>-- Select Unit --</option>
    <option *ngFor="let unit of units"> {{ unit }} </option>
  </select>
  <select id="subfaction-selector" [(ngModel)]="subfactionSelector" [disabled]="subfactionSelectorDisabled">
    <option>-- Select Subfaction --</option>
    <option *ngFor="let subfaction of subfactions"> {{ subfaction }} </option>
  </select>
  <button id="get-stats" [disabled]="getStatsDisabled">Get Stats</button>
  <button id="submit-unit" [disabled]="saveUnitDisabled">Add Unit</button>
</div>