<div>
  <select id="faction-selector" [(ngModel)]="factionSelector" (change)="getRoles()">
    <option value ="0">-- Select Faction --</option>
    <option *ngFor="let faction of factions"> {{ faction }} </option>
  </select>
  <select id="role-selector" [(ngModel)]="roleSelector" (change)="getUnits()" [disabled]="roleSelectorDisabled">
    <option value="0">-- Select Role --</option>
    <option *ngFor="let role of roles"> {{ role }} </option>
  </select>
  <select id="unit-selector" [(ngModel)]="unitSelector" (change)="unitSelected()" [disabled]="unitSelectorDisabled">
    <option value ="0">-- Select Unit --</option>
    <option *ngFor="let unit of units"> {{ unit }} </option>
  </select>
  <select id="subfaction-selector" [(ngModel)]="subfactionSelector" [disabled]="subfactionSelectorDisabled">
    <option value ="0">-- Select Subfaction --</option>
    <option *ngFor="let subfaction of subfactions"> {{ subfaction }} </option>
  </select>
  <button id="show-stats" (click)="showStats()" [disabled]="showStatsDisabled"> {{ statsButtonText }} </button>
  <button id="submit-unit" [disabled]="saveUnitDisabled">Add Unit</button>
</div>

<app-unit-stats *ngIf="displayStats" [unitStats]="unitStats" [unitWoundTrack]="unitWoundTrack"></app-unit-stats>
<app-unit-options *ngIf="displayOptions"></app-unit-options>