<div>
  <select id="faction-selector">
    <option>-- Select Faction --</option>
  </select>
  <select id="role-selector" disabled>
    <option>Any</option>
    <option>HQ</option>
    <option>Troops</option>
    <option>Elites</option>
    <option>Fast Attack</option>
    <option>Heavy Support</option>
    <option>Dedicated Transport</option>
    <option>Flyer</option>
    <option>Fortification</option>
    <option>Lord of War</option>
  </select>
  <select id="unit-selector" disabled>
    <option>-- Select Unit --</option>
  </select>
  <select id="subfaction-selector" disabled>
    <option>-- Select Subfaction --</option>
  </select>
  <button id="get-stats" disabled>Get Stats</button>
  <button id="submit-unit" disabled>Add Unit</button>
</div>